[submodule "Frontend"]
	path = Frontend
	url = https://github.com/Aman67if/PraxFrontend.git
	branch = main

[submodule "Backend"]
	path = Backend
	url = https://github.com/Aman67if/PraxBackend.git
	branch = main
